<!-- Write HTML code here -->
<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>Students</title> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
</head> 
<body> 

<div class="container"> 
<h2 class="text-center"><u>Data from Backend</u></h2><br>			 
<table class="table table-light table-striped"> 
	<thead> 
	<tr> 
		<th>ID</th> 
		<th>Name</th> 
		<th>Sex</th> 
		<th>Birthday</th> 
	</tr> 
	</thead> 
	<tbody> 
	<!-- jinja2 Technique -->
	{% if students %} 
	{% for i in students %} 
	<tr> 
		<td>{{i.id_std}}</td> 
		<td>{{i.name_std}}</td> 
		<td>{{i.sex}}</td> 
		<td>{{i.birthday}}</td> 
	</tr> 
	{% endfor %} 
	{% endif %} 
	</tbody> 
</table> 
</div> 
</body> 
</html> 
