{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Reset password</h4>
        </div>
        {% comment %} <form action="{% url 'authen-resetpassword-confirm' uidb64=uid token=token %}" method="post"> {% endcomment %}
        <form method="POST">

            {% csrf_token %}
  
            {% include 'partials/_messages.html' %}
     
            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    class="form-control form-control-sm"
                    id="passwordField"
                />
                <small class="float-right py-3 showPasswordToggle">SHOW</small>
            </div>
            <div class="CorrectPassword invalid-feedback" style="display:none"> </div>

            <div class="form-group">
                <input
                    type="password-again"
                    name="password-again"
                    placeholder="Confirm password"
                    class="form-control form-control-sm"
                    id="CofirmPasswordField"
                />
            </div>
            <div class="CorrectPasswordConfirm invalid-feedback" style="display:none"> </div>
            
            <input type="submit" id='set_password' onclick="return onBtnResetClicked()" value="Reset password confirmation" class="btn btn-block btn-primary submit-btn" />
        </form>
      </div>
      {% if login %}
      <div>
        <form action="{% url 'authen-login' %}" method="GET">
        <input   type="submit" value="Back to Login" class="btn btn-block btn-primary submit-btn" />
        </form>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/reset_password_confirm.js' %}"></script>

{% endblock content %}